.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "IBM Plex Mono", monospace;
}

.is-brand {
  background-color: #3f8e00 !important;
}
.is-button {
  background-color: #a70808;
}
.is-image-size {
  width: 400px;
}

.is-image-size-mobile {
  width: 300px;
}

.is-icon-size {
  width: 200px;
}
